.modal {
  display: block;
  z-index: -1;
}

.modal.fade.in {
  z-index: 1050;
}

@media print
{
.noprint {display:none;}
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}